:root {
  --primary-color: #0084ff;
  --text-color: #272727;
  --light-text: #707070;
  --light-grey: #f0f0f0;
  --light-color: #f9f9f9;
  --bg-color: #eaedef;
  --tab-text: #272727;
  --green-color: #36da33;
  --pending-color: #ffcc00;
  --success-color: #00c700;
  --danger-color: #ff0008;

  --app-font: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--app-font);
  height: 100%;
  background-color: var(--bg-color);
}

input,
div,
p,
h2,
a,
button,
select {
  font-family: var(--app-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  font-family: var(--app-font);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 132, 255, 0.9);
}

.button:disabled {
  background-color: #cfcfcf;
}

.form-title {
  font-size: 29px;
  font-weight: 500;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
  cursor: pointer;
}

.error-message {
  font-size: .8rem;
  color: tomato;
  margin-bottom: 10px;
}

.navButton {
  background-color: var(--primary-color);
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.navButton > img {
  margin-left: 10px;
}

.row {
  display: flex;
}

.appSelect {
  height: 50px;
  border: 1px solid rgba(39, 39, 39, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 20px;
}

.appSelect > select {
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
}

.appSelectLabel {
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--text-color);
}

@media screen and (max-width: 450px) {
  .form-title {
    font-size: 22px;
  }
}
