.container {
  display: flex;
  height: 100vh;
}

.container1 {
  grid-area: container1;
  background-image: url('/login_bg1.svg');
  background-position: center;
  background-size: cover;
  flex: 2;
}

.container2 {
  grid-area: container2;
  flex: 3;
  overflow-y: scroll;
  padding-top: 50px;
}

.container1, .container2 {
  display: flex;
  flex-direction: column;
}

.container2__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* height: 100%; */
  margin: 0 auto;
}

.newAccount {
  color: rgba(112, 112, 112, 0.7);
  font-weight: 500;
  font-size: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
}

.nameRow {
    display: flex;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.backRow {
    display: flex;
    align-items: center;
}

.backRow > p {
    font-weight: 500;
    font-size: 14px;
}