.navbar {
  background: var(--light-color);
  height: 108px;
  position: fixed;
  left: 0;
  right: 0;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.navbar > img {
  height: 84px;
  width: 84px;
}

.buttonContainer > a,
.linkContainer a {
  font-size: 20px;
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.linkContainer {
  list-style-type: none;
}

.linkContainer li {
  display: inline;
}

.linkContainer li > a {
  padding: 0 30px;
  color: #272727;
}
